/* Botones */
.boton{
    padding: 18px 50px;
    background: $secundario;
    background: linear-gradient(180deg, rgba(128,69,236,0.7) 0%, rgba(238,36,120,0.7) 100%);
    color: white;
    text-decoration: none;
    border-radius: 8px;

    transition: 0.3s;

}

.boton:hover{
    background: #261E39;
    color: $secundario;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid $primario;
    box-shadow: 8px 7px 24px -16px rgba(255,255,255,0.18);
    -webkit-box-shadow: 8px 7px 24px -16px rgba(255,255,255,0.18);
    -moz-box-shadow: 8px 7px 24px -16px rgba(255,255,255,0.18);

}

.boton-dos{
    padding: 18px 50px;
    background: $fondo;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid $primario;
    transition: 0.3s;
    @media screen and ( max-width:400px) {
        padding: 18px 35px;
}

}

.boton-dos:hover{
    background: $fondo;
    color: $primario;
    border: 1px solid white;
    box-shadow: 8px 7px 24px -16px rgba(255,255,255,0.18);
    -webkit-box-shadow: 8px 7px 24px -16px rgba(255,255,255,0.18);
    -moz-box-shadow: 8px 7px 24px -16px rgba(255,255,255,0.18);

}

.margin-B-100{
    margin-bottom: 100px;
}

.margin-B-50{
    margin-bottom: 50px;
}

.margin-T-100{
    margin-top: 70px;
}
/* Botones */