/* Botones */
.boton{
    padding: 18px 50px;
    background: $botonColor;
    color: gray;
    text-decoration: none;
    border-radius: 50px;
    font-family: shield !important;
    font-size: 1.8rem;
    transition: 0.3s;

}

.boton:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    color: $fondo;
    text-decoration: none;
    background-color: $botonColor2;
    font-family: shield !important;
}

.boton-plan{
    height: 100%;
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 18px 50px;
    background: $botonColor;
    color: grey;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    font-family: shield !important;
    @media screen and ( max-width:400px) {
        padding: 18px 35px;
}

}

.boton-plan:hover{
    background: $botonColor2;
    color: $fondo;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    font-family: shield !important;

}


.boton-dos{
    display: inline-block;
    width: 235px;
    text-align: center;
    padding: 18px 50px;
    background: $botonColor;
    color: grey;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    font-family: shield !important;
    @media screen and ( max-width:400px) {
        padding: 18px 35px;
}

}

.boton-dos:hover{
    background: $botonColor2;
    color: $fondo;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}

.boton-dos-form{
    width: 100%;
    border: none;
    padding: 18px 50px;
    background: $botonColor;
    color: grey;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    font-family: shield !important;
    @media screen and ( max-width:400px) {
        padding: 18px 35px;
}

}

.boton-dos-form:hover{
    border: none;
    background: $botonColor2;
    color: $fondo;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}

.margin-B-100{
    margin-bottom: 100px;
    @media screen and ( max-width:1000px) {
        margin-bottom: 40px;
}

}

.margin-B-50{
    margin-bottom: 50px;
}

.margin-B-30{
    margin-bottom: 30px;
}

.margin-T-100{
    margin-top: 70px;
}

.margin-T-8{
    margin-top: 8px;
}



.boton-dos-p{
    text-align: center;
    padding: 18px 50px;
    background: $botonColor2;
    color: gray;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    font-family: shield !important;
    @media screen and ( max-width:400px) {
        padding: 18px 35px;
}

}

.boton-dos-p:hover{
    background: $botonColor2;
    color: $fondo;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}
/* Botones */


.boton-tres{
    padding: 5px 10px;
    background: $botonColor2;
    color: gray;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    font-family: shield !important;
    font-weight: 400;
    @media screen and ( max-width:400px) {
        padding: 18px 35px;
}

}

.boton-tres:hover{
    background: $botonColor2;
    color: $fondo;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}


.fondo{
    background-color: $fondo;
}