@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
 
  }
  .centrar{
    @include flex;
    flex-direction: column;
    gap: 5px;
  }
  .centrar2{
    @include flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }

  @mixin padding {
    padding: 125px 15%;
    overflow-x: hidden;
        @media screen and ( max-width:550px) {
        padding: 65px 15px;
  } }

  @mixin paddingDos {
    padding: 125px 15% 400px 15%;
    overflow-x: hidden;
        @media screen and ( max-width:1240px) {
        padding: 65px 15px;
  } }



  .flex{
    @include flex;
    @media screen and ( max-width:1050px) {
        flex-direction: column;
        gap: 30px;
} 
  }

  .flex > div{
    width: 100%;
  }

 

  .flex-c{
    @include flex;
    gap: 0px;
    flex-direction: column;
    @media screen and ( max-width:1050px) {
        flex-direction: column;
} 
  }

  .flex-c > div{
    width: 100%;
  }

  .navFlex{
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    border: 1px solid $primario;

  }

  .planesFlex{
    display: flex;
    justify-content: center;
    gap: 20px;

    @media screen and ( max-width:1000px) {
        flex-direction: column;
} 
  }

  .planesFlex > div{
    width: 100%;
    height: fit-content;
  }


  .planesMflex{
    display: flex;
    justify-content: space-between;
    
  }

  .planesCFlex{
    display: none;

    @media screen and ( max-width:1000px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap:36px;
} 

  }
  .planesCcFlex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:15px

  }

  .planDeskt{
    @media screen and ( max-width:1000px) {
      display: none;
} 
    
  }



  .flex-r{
    @include flex;
    gap: 30px;
    @media screen and ( max-width:1050px) {
        flex-direction: column;
        gap: 30px;
} } 
.flex-r:nth-child(2){
  @media screen and ( max-width:1050px) {
      flex-direction: column-reverse;
      gap: 30px;
} 
  }
  .flex-r:nth-child(4){
    @media screen and ( max-width:1050px) {
        flex-direction: column-reverse;
        gap: 30px;
  } 
    }
    .flex-r:nth-child(6){
      @media screen and ( max-width:1050px) {
          flex-direction: column-reverse;
          gap: 30px;
    } 
      }
  .fase{
    width: 60px;
  }

  .flex-final{
display: flex;
justify-content: end;
  }


  .gridfases{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-areas:
    "f0 flech1 f1"
    ". . flech2"
    "f3 flech3 f2"
    "flech4 . ."
    "f4 flech5 f5";
    gap: 20px;
    @media screen and ( max-width:890px) {
 display: none;

} 
  }

  .gridfases2{
display: none;
    @media screen and ( max-width:890px) {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;

} 
  }

  .f0{
    grid-area: f0;
  }
  .f1{
    grid-area: f1;
  }
  .f2{
    grid-area: f2;
  }
  .f3{
    grid-area: f3;
  }
  .f4{
    grid-area: f4;
  }
  .f5{
    grid-area: f5;
  }

  .flech1{
    grid-area: flech1;
  }
  .flech2{
    grid-area: flech2;
  }
  .flech3{
    grid-area: flech3;
  }
  .flech4{
    grid-area: flech4;
  }
  .flech5{
    grid-area: flech5;
  }

  .contFases{
    padding: 30px;
    border-radius: 15px;
    background-color: #261E39;
    width: 100%;
  }
  .img-nivelacion-70 {
    width: 70px;
}