/* Reset */
*{
    margin: 0;
    padding: 0;
}
p,ul,li,ol,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}

@font-face {
    font-family: Musont;
    src: url("../fuente/Musont.ttf");
}
/* Fin Reset */