/* Tipografias */
@font-face {
    font-family: shield;
    src: url("../fuente/Shield.ttf") format("truetype"), url("../fuente/Shield.otf") format("opentype");
}

.shield{
    font-family: shield;
}
.span-R{
    color: $primario;
    font-weight: 800;

}
.span-S{
    color: $secundario;
    font-weight: 800;
}
.span-R-dos{
    color: $primario;
    font-weight: 600;
}
.span-R-tres{
    color: $primario;
    font-weight: 200;
}

.span-V{
    color: $secundario;
    font-weight: 800;
}

.span-W{
    color: white;
    font-weight: 800;
}
.tipo-centrada{
    text-align: center;
}
.principal-grande{

    font-size: 8rem;
    color: white;
    font-weight: 800;
    @media screen and ( max-width:1700px) {
        font-size: 6rem;
    }
}


.elevar{

    font-size: 5rem;
    color: $primario;
    font-weight: 800;
    @media screen and ( max-width:800px) {
        font-size: 2.6rem;
        color: white;
    }
}
.principal-grande-dos{

    font-size: 6rem;
    color: white;
    font-weight: 800;
    @media screen and ( max-width:1700px) {
        font-size: 5rem;
    }
    @media screen and ( max-width:1000px) {
        font-size: 3.5rem;
    }
    @media screen and ( max-width:600px) {
        font-size: 2.5rem;
    }
}

.principal-grande-dos-light{

    font-size: 6rem;
    color: white;
    font-weight: 400;
    @media screen and ( max-width:1700px) {
        font-size: 5rem;
    }
    @media screen and ( max-width:1000px) {
        font-size: 3.5rem;
    }
    @media screen and ( max-width:600px) {
        font-size: 2.5rem;
    }
}

.principal-grande-dos-light-P{

    font-size: 6rem;
    color: $primario;
    font-weight: 400;
    @media screen and ( max-width:1700px) {
        font-size: 5rem;
    }
    @media screen and ( max-width:1000px) {
        font-size: 3.5rem;
    }
    @media screen and ( max-width:600px) {
        font-size: 2.5rem;
    }
}

.tituloPrincipalB{

    font-size: 3.5rem;
    color: white;
    font-weight: 800;
    @media screen and ( max-width:1500px) {
        font-size: 3rem;
    }
    @media screen and ( max-width:1000px) {
        font-size: 2.5rem;
    }
}
.tituloPrincipalR{

    font-size: 3.5rem;
    color: $primario;
    font-weight: 800;
    @media screen and ( max-width:1500px) {
        font-size: 3rem;
    }
}

.subTituloPrincipalR{
    font-size: 3rem;
    color: $primario;
    font-weight: 800;
    @media screen and ( max-width:1500px) {
        font-size: 2rem;
    }

}
.subTituloPrincipalW{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    @media screen and ( max-width:1500px) {
        font-size: 2rem;
    }
    @media screen and ( max-width:600px) {
        font-size: 1.5rem;
    }

}

.subTituloPrincipalLightB{
    font-size: 2rem;
    color: white;
    font-weight: 400;
    @media screen and ( max-width:1500px) {
        font-size: 1.6rem;
    }

}
.subTituloPrincipalLightF{
    font-size: 2rem;
    color: $fondo;
    font-weight: 400;
    @media screen and ( max-width:1500px) {
        font-size: 1.6rem;
    }

}

.subTituloPrincipalLightR{
    font-size: 2rem;
    color: $primario;
    font-weight: 400;
    @media screen and ( max-width:1500px) {
        font-size: 1.6rem;
    }
}

.parrafo-B{
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
    @media screen and ( max-width:1300px) {
        font-size: 1rem;
    }
}
.parrafoBoton{
    font-family: shield;
    font-size: 1rem;
    color: white;
    font-weight: 200;
    margin-bottom: 12px;
}
.parrafoBoton2{
    font-family: shield;
    font-size: 1rem;
    color: white;
    font-weight: 200;
}

.parrafo-F{
    font-size: 1.2rem;
    color: $fondo;
    font-weight: 200;
    @media screen and ( max-width:1300px) {
        font-size: 1rem;
    }
}

.parrafo-B-light{
    font-size: 1rem;
    color: white;
    font-weight: 100;
    margin-left: 10px;
}

.parrafo-F-light{
    font-size: 1rem;
    color: $fondo;
    font-weight: 400;
    margin-left: 10px;
}

.parrafo-grande{
    font-size: 1.5rem;
    color: $primario;
    font-weight: 600;
    @media screen and ( max-width:1500px) {
        font-size: 1.3rem;
    }
}

.parrafo-grandeW{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    
    @media screen and ( max-width:1500px) {
        font-size: 1.3rem;
    }
}


.subTituloCardsR{
    font-size: 3rem;
    color: $primario;
    font-weight: 800;
    @media screen and ( max-width:1500px) {
        font-size: 2rem;
    }
    @media screen and ( max-width:700px) {
        font-size: 1.7rem;
    }
}


.span-SS{
    color: $secundario;
    font-weight: 800;
    @media screen and ( max-width:700px) {
        font-size: 0.8rem;
    }
}
/* Tipografias */