footer{
    padding: 70px 0px;
    background-color: $fondo;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    @media screen and ( max-width:500px) {
        flex-direction: column;
        gap: 20px;
    }
}

.linea{
    color: white;
    width: 500px;
    height: 6px;
    @media screen and ( max-width:500px) {
        width: 80%;
    }
}
.flex-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.redes{
    margin-top: 20px;
    width: 30px;
    transition: 0.2s;
}

.redes:hover{
    color: rgb(7, 151, 26);
}


.boton-dos-footer{
    padding: 9px 12px;
    background: white;
    color: $secundario;
    text-decoration: none;
    border-radius: 8px;
 
    transition: 0.3s;
    font-family: shield;
}

.boton-dos-footer:hover{
    background: $secundario;
    box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    -webkit-box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    -moz-box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    color: white;

}

.boton-tres-footer{
    padding: 9px 12px;
    background: $secundario;
    color: white;
    text-decoration: none;
    border-radius: 8px;
 
    transition: 0.3s;
    font-family: shield;
}

.boton-tres-footer:hover{
    background: white;
    color:$secundario ;
    border: 1px solid $secundario;
    box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    -webkit-box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    -moz-box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);


}


.flex-footer{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
label {
    display: inline-block;
    margin-bottom: 0px;
}
}

.footer-width{
    width: 100px;
}

.controls-footer {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $primario;
    font-size: 18px;
    color: white;
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid white;
}
footer a{
    transition: 0.2s;
}
footer a:hover{
    color: white;
}

.marginL{
    margin-left: 25px;
    @media screen and ( max-width:991px) {
        margin-left: 0px;
    }
}


.boton-dos-footerr{
    padding: 9px 12px;
    background: $fondo;
    color: $secundario;
    text-decoration: none;
    border-radius: 8px;
 
    transition: 0.3s;
    font-family: shield;
}

.boton-dos-footerr:hover{
    background: $secundario;
    box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    -webkit-box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    -moz-box-shadow: 6px 6px 15px -5px rgba(255,255,255,0.75);
    color: white;

}