.popup {
  width: 300px;
    display: none;
    position: fixed;
    top: 50%;
    right: -140px;
    transform: translate(-50%, -50%);
    padding: 1em;
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
  
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 15px;
    box-shadow: 9px 9px 21px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 9px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 9px 21px 0px rgba(0,0,0,0.75);

  }
  
  .popup.show {
    display: block;
    opacity: 1;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  


  @keyframes cuadrado {
    0% {
        top:0px;
    }
    50% {
        top:-10px;
    }

    100% {
        top:0px;
    }
  }
  
.cuadradito{
    position: relative;
    font-size: 2rem;
    animation: cuadrado 2s infinite;
}

.popCont{
display: flex;
gap: 5px;
align-items: flex-start;
img{
  width: 40px;
}
}